[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
quart = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
beautifulsoup4 = "*"
psycopg2 = "*"
gino = "*"
hypercorn = {extras = ["uvloop"],version = "*"}
spacy = "*"
en-core-web-sm = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz"}
redis = "*"
aiohttp = "*"
aiocache = "*"
quart-cors = "*"

[dev-packages]
flake8 = "*"

[test-packages]
pytest = "*"

[requires]
python_version = "3.7"

[scripts]
server = "cd app && flask run"
initdb = "cd app && python flask initdb"
migrate = "cd app && python flask migrate"
upgrade = "cd app && python flask upgrade"
